<nav class="navbar navbar-expand-md navbar-light gradient-purple">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center" href="/" style="color: #ffff;">
      <span class="material-icons" style="margin:0">
      date_range
      </span>
      Quadro de Avisos
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/" style="color: #ffff">
            <span class="material-icons">
              home
            </span>  
            Início
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/avisos" style="color: #ffff">
            <span class="material-icons" style="font-size:20px">
              collections_bookmark
            </span>
            Meus Avisos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/avisos/novo" style="color: #ffff">
            <span class="material-icons">
              campaign
            </span>
            Novo Aviso
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
