<!-- Chama o head do outro arquivo qeu está em partials -->
<%- include('./partials/head') %> 
  <body>
    <h1 class="alert alert-primary">
      <span class="material-icons">
        campaign
      </span>
      Formulario de Cadastro De Avisos
    </h1>

    <!-- Inclui os scripts do bootstrap que estão em outro arquivo no partials -->
    <%- include('./partials/scripts_import') %> 

  </body>
</html>
